body{background-image:url(/home/Sem6B10/Downloads/coffee.jpeg);background-repeat:no-repeat;background-attachment:scroll;border:10px;background-size:cover;opacity:1;}
h1{color:black;margin-left:40px;text-align:center;text-decoration:overline;text-decoration:underline;text-transform:uppercase;}
p{color:blue;font-family:serif;font-size:50px;text-transform:capitalize;}
p.normal{color:white;letter-spacing:5px;text-shadow:4px 4px 8px red;}
p.specific{color:green;font-style:italic;font-weight:bold;direction:rtl;word-spacing:10px;text-shadow:4px 4px 8px white;}
img:hover{border:3px solid blue;width:1000px;opacity:0.7;}
#h12{color:yellow;}
p.two{border-color:red green blue yellow;border-style:solid;border-width:2px 10px 4px 200px;}
p.a{border-top-style:dotted;border-right-style:dotted;border-bottom-style:dotted;border-left-style:solid;}
p.b{border-left:400px solid black ;background-color:lightgrey;}
p.c{margin:25px 50px 75px 400px;color:white;}
