body{background-image:url(/home/Sem6B10/Downloads/coffee.jpeg);background-repeat:no-repeat;background-attachment:scroll;border:10px;background-size:cover;}
h1{color:black;margin-left:40px;text-align:center;text-decoration:overline;text-decoration:underline;text-transform:uppercase;}
p{color:blue;font-family:serif;font-size:50px;text-transform:capitalize;}
p.normal{color:white;letter-spacing:5px;text-shadow:4px 4px 8px red;}
p.specific{color:green;font-style:italic;font-weight:bold;direction:rtl;word-spacing:10px;text-shadow:4px 4px 8px white;}
img:hover{border:3px solid blue;width:1000px;opacity:0.7;}
